<!DOCTYPE>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Learnwords Assignment</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
        <!--
        <style type="text/css">
            #overlay{
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(0, 0, 0, 0.6)
            }
        </style>
        -->
    </head>
    <body>
        <div id="app">
            <div class="container-fluid">
                <div class="row bg-dark">
                    <div class="col-lg-12">
                        <p class="text-center text-light display-4 pt-2" style="font-size:25px;">Learnwords Assignment</p>
                    </div>
                </div>
            </div>
            
            <div class="container">
                <div class="row mt-">
                    <div class="col-lg-6">
                        <h3 class="text-info">Registered Users</h3>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-info float-right" @click="showAddData=true">
                            <i class="fas fa-user"></i>&nbsp;&nbsp;Add New User
                        </button>
                    </div>
                </div>
                <hr class="bg-info">
                <div class="alert alert-danger" v-if="errorMsg">Error msg</div>
                <div class="alert alert-success" v-if="successMsg">Success msg</div>
                <!--Displaying Records-->
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered table-stripped">
                            <thead>
                                <tr class="text-center bg-info text-light">
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center">
                                    <td>George</td>
                                    <td>george@gmail.com</td>
                                    <td><a href="#" class="text-success" @click="showEditData=true"><i class="fas fa-edit"></i></a></td>
                                    <td><a href="#" class="text-danger" @click="showDeleteData=true"><i class="fas fa-trash-alt"></i></a></td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--ADD NEW USER-->
                <div id="overlay" v-if="showAddData">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add new user</h5>
                                <button type="button" class="close" @click="showAddData=false">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body p-2">
                                <form action="#" method="post">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control form-control-lg" placeholder="Full Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="email" class="form-control form-control-lg" placeholder="E-Mail">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-info btn-block btn-lg">&nbsp;&nbsp;Add User</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Edit User-->
                <div id="overlay" v-if="showEditData">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit User</h5>
                                <button type="button" class="close" @click="showEditData=false">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body p-2">
                                <form action="#" method="post">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control form-control-lg" placeholder="Full Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="email" class="form-control form-control-lg" placeholder="E-Mail">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-info btn-block btn-lg">&nbsp;&nbsp;Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Delete User-->
                <div id="overlay" v-if="showDeleteData">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Delete User</h5>
                                <button type="button" class="close" @click="showDeleteData=false">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body p-2">
                                <h5>Delete this user?</h5>
                                <button class="btn btn-success btn-lg" @click="showDeleteData=false">Yes</button>
                                &nbsp;&nbsp;&nbsp;
                                <button class="btn btn-danger btn-lg" @click="showDeleteData=false">No</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13"></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                 errorMsg: false,
                 successMsg: false,
                 showAddData: false,
                 showEditData: false,
                 showDeleteData: false
                }
            });
        </script>
        
    </body>
</html>